@{
    ViewData["Title"] = "Home";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row auto-row h-100">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">尘世间，有没有一种蜜语</h1>
                    <h1 class="mb-5">独具特质和内涵</h1>
                    <h1 class="mb-5">不经刻意雕琢</h1>
                    <h1 class="mb-5">以契合我们健康的生活</h1>
                    @*<a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">土蜂蜜</a>*@
                    <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="introduce bg-primary text-center" id="introduce">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h2 class="section-heading">专注30余年</h2>
                <h3>坚持真正原生态</h3>
                <p>柏山蜂场成立有30多年了，从原来的不足5、6蜜蜂扩展到现在近200箱。</p>
                <p>面对鱼目混杂的市场，柏山蜂场以最好、最优质的原生态蜂产品以及最优惠的价格面向消费者，以质量求生存，以信誉促发展。</p>
                <h3>蜜源无污染</h3>
                <h3>无添加原生态</h3>
                <h3>纯手工提取</h3>
                <h3>100%纯天然</h3>
            </div>
        </div>
    </div>
</section>


<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>
            We
            <i class="fas fa-heart"></i>
            new friends!
        </h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-twitter">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item social-facebook">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item social-google-plus">
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
        <h3>桐庐县富春江镇溪边家庭农场（柏山蜂场）</h3>
        <h3>电话：0571-64662008    18968169987</h3>
    </div>
</section>