<connectionStrings>
  <add name="Default" connectionString="Server=10.1.40.49;Database=PartnerPortal_Dev;uid=sa;pwd=@WDC4esz49 ;" providerName="System.Data.SqlClient" />  
  <add name="MetaData" connectionString="Server=10.1.40.49; Database=PartnerPortalMetaData;uid=sa;pwd=@WDC4esz49 ;" providerName="System.Data.SqlClient" />
  <add name="Abp.Redis.Cache" connectionString="localhost" />
</connectionStrings>
