@{
    ViewData["Title"] = "Honey";
}

<header class="masthead effect">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>冬 蜜</h3>
                                <p class="text-muted">冬 蜜冬 蜜冬 蜜冬 蜜</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>柑桔蜜</h3>
                                <p class="text-muted">柑桔蜜柑桔蜜柑桔蜜</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>荆条蜜</h3>
                                <p class="text-muted">荆条蜜荆条蜜荆条蜜</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>山花蜜</h3>
                                <p class="text-muted">山花蜜山花蜜山花蜜</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>洋魁蜜</h3>
                                <p class="text-muted">洋魁蜜洋魁蜜洋魁蜜</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>椴树蜜</h3>
                                <p class="text-muted">椴树蜜椴树蜜椴树蜜</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>野土蜜</h3>
                                <p class="text-muted">野土蜜野土蜜野土蜜</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>茶花蜜</h3>
                                <p class="text-muted">茶花蜜茶花蜜茶花蜜</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>新鲜蜂皇浆</h3>
                                <p class="text-muted">新鲜蜂皇浆新鲜蜂皇浆</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <img src="img/tb-qr-code.png" class="img-fluid qr-code" alt="">
                                <h3>蜂巢蜜</h3>
                                <p class="text-muted">蜂巢蜜蜂巢蜜蜂巢蜜</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>